@page "/country/{Id:long}/view"
@using Microsoft.AspNetCore.Authorization
@namespace Jhipster.Client.Pages.Entities.Country

@attribute [Authorize(Roles = "ROLE_USER")]

<div class="row justify-content-center">
    <div class="col-8">

        @if (Country != null && Country.Id != 0)
        {
            <div>
                <h2><span>Country</span>@Country.Id</h2>

                <hr>

                @*<jhi-alert-error></jhi-alert-error>*@

                <dl class="row-md jh-entity-details">
                    <dt><span>Country Name</span></dt>
                    <dd>
                        <span>@Country.CountryName</span>
                    </dd>
                    <dt><span>Region</span></dt>
                    <dd>

                        @if (Country.RegionId != 0)
                        {
                            <div>
                                <a href="/region/@Country.Id/view">@Country.RegionId</a>
                            </div>
                        }
                    </dd>
                </dl>

                <button @onclick="Back" class="btn btn-info">
                    <Icon Name='"fa-arrow-left"' />&nbsp;<span>Back</span>
                </button>

                <a href="/country/@Country.Id/edit" class="btn btn-primary">
                    <Icon Name='"fa-pencil-alt"' />&nbsp;<span>Edit</span>
                </a>
            </div>
        }
    </div>
</div>